<html>
    <head lang="en">
        <meta charset = "utf-8">
        <title>修改设备信息</title>
    </head>
    <body>
        <form action="/dpms/adddevice2/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ data.id }}"/>
            投诉者:<input name="name" type="text" value="{{ data.name }}"></br>
            投诉类型:<input name="device_type" type="text" value="{{ data.device_type }}"></br>
            brand:<input name="brand" type="text" value="{{ data.brand }}"></br>
            <!--添加日期:<input name="date" type="text" value="{{ data.date }}"></br> -->
            <input type="submit" value="保存"/>
        </form>
    </body>

</html>
