<html>
    <body>
        <style>
            body{
                text-align:center;
            }
            #tt{
                margin: 0 auto;
            }
        </style>
        </body>
        <table id="tt" border="2">
            <tr>
            <td>设备名称</td>
            <td>设备类型</td>
            <td>brand </td>
            <td>添加时间</td></tr>
            {% for d in fm %}
            <tr {% if forloop.counter|divisibleby:"2" %}
                style="background: gainboro" {% else %}
                style="background: aquamarine" {% endif %}>
                <!-- <td>{{ d.id }} </td> -->
                <td>{{ d.name}} </td>
                <td> {{ d.device_type}} </td>
                <td> {{ d.brand }} </td>
                <td> {{ d.date|date:'Y-m-d'}} </td>
                <td> <a href="/dpms/deletedevice/?id={{d.id}}"> 删除</a>
                    <a href="/dpms/get_device_id/?id={{d.id}}"> 修改</a> </td>

            </tr>
            {%  endfor %}
        </table>
        <a href="/dpms/adddevice/">添加设备</a>
        <a href="/dpms">返回首页</a>
</html>
