<html>
    <body>
        <style>
            body{
                text-align:center;
            }
            #tt{
                margin: 0 auto;
            }
        </style>
        </body>
        <table id="tt" border="2">
            <tr>
            <td>房间编号</td>
            <td>楼层编号</td>
            <td>房间名称</td>
            <td>房间大小</td>
            <td>住户姓名</td>
            </tr>
            {% for d in fm %}
            <tr {% if forloop.counter|divisibleby:"2" %}
                style="background: gainboro" {% else %}
                style="background: aquamarine" {% endif %}>
                <!-- <td>{{ d.id }} </td> -->
                <td>{{ d.id}} </td>
                <td>{{ d.building_id}} </td>
                <td>{{ d.room_name}} </td>
                <td>{{ d.room_size}} </td>
                <td>{{ d.user_id.user_name}} </td>
                <td> <a href="/dpms/deleteroom/?id={{d.id}}"> 删除</a>
                    <a href="/dpms/get_room_id/?id={{d.id}}"> 修改</a> </td>

            </tr>
            {%  endfor %}
        </table>
        <a href="/dpms/addroom/">添加房间</a>
        <a href="/dpms">返回首页</a>
</html>
