<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Free CSS template Collect from Cssmoban.com</title>
        <link rel="stylesheet" href="/static/css/main_style.css" type="text/css" media="all" />
    </head>
    <script language="javascript">
        function getuser() {
            var names = document.getElementById('yyj').value;
            window.location.href="/dpms/get_charge/?name=" + names;
        }
    </script>
    <body>
        <!-- Header -->
        <div id="header">
            <div class="shell">
                <!-- Logo + Top Nav -->
                <div id="top">
                    <h1><a href="#">SpringTime</a></h1>
                    <div id="top-navigation">
                        欢迎&nbsp;<a href="#"><strong>{{username}}</strong></a>
                        <span>|</span>
                        <a href="#">Help</a>
                        <span>|</span>
                        <a href="#">Profile Settings</a>
                        <span>|</span>
                        <a href="/dpms/logout">Log out</a>
                    </div>
                </div>
                <!-- End Logo + Top Nav -->

                <!-- Main Nav -->
                <div id="navigation">
                    <ul>
                        <li><a href="/dpms/index" ><span>&nbsp;首页 &nbsp;</span></a></li>
                        <li><a href="/dpms/listuser" ><span>&nbsp;用户管理&nbsp;</span></a></li>
                        <li><a href="/dpms/listdevice"><span>&nbsp;设备管理&nbsp;</span></a></li>
                        <li><a href="/dpms/listcharge" class="active"><span>&nbsp;收费管理&nbsp;</span></a></li>
                        <li><a href="/dpms/listrepair"><span>&nbsp;维修管理&nbsp;</span></a></li>
                        <li><a href="/dpms/listroom"><span>&nbsp;房间管理&nbsp;</span></a></li>
                        <li><a href="/dpms/listcomplaint"><span>&nbsp;投诉管理&nbsp;</span></a></li>
                    </ul>
                </div>
                <!-- End Main Nav -->
            </div>
        </div>
        <!-- End Header -->
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>

        <!-- Container -->

        <div id="container">
            <div class="shell">

                <!-- Small Nav -->
                <div class="small-nav">
                    <a href="#">Dashboard</a>
                    <span>&gt;</span>
                    收费管理
                </div>
                <!-- End Small Nav -->

            </div>
        </div>
        <div id="container">
            <div class="shell">

                <!-- Main -->
                <div id="main">
                    <div class="cl">&nbsp;</div>

                    <!-- Content -->
                    <div id="content">

                        <!-- Box -->
                        <div class="box">
                            <!-- Box Head -->
                            <div class="box-head">
                                <h2 class="left">收费管理</h2>
                                <div class="right">
                                    <label>业主姓名</label>
                                    <input id="yyj" type="text" class="field small-field" name="yyj" />
                                    <input type="button" class="button" value="search" onclick="getuser()"/>
                                </div>
                            </div>
                            <!-- End Box Head -->

                            <!-- Table -->
                            <div class="table">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>用户姓名</td>
                                        <td>缴费时间</td>
                                        <td>收费类型</td>
                                        <td>总需缴费</td>
                                        <td>已缴费</td>
                                        <td>备注</td>
                                        <td>操作</td>
                                    </tr>
                                    {% for d in fm %}
                                    <tr {% if forloop.counter|divisibleby:"2" %}
                                        class="odd" {% endif %}>
                                        <!-- <td>{{ d.id }} </td> -->
                                        <td>{{ d.user_id.user_name}} </td>
                                        <td> {{ d.charge_date|date:"Y-m-d" }} </td>
                                        <td> {{ d.charge_type }} </td>
                                        <td> {{ d.charge_total}} </td>
                                        <td> {{ d.charge_complet}} </td>
                                        <td> {{ d.charge_cont}} </td>
                                        <td> <a href="/dpms/deletecharge/?id={{d.id}}"> 删除</a>
                                            <a href="/dpms/get_charge_id/?id={{d.id}}"> 修改</a> </td>

                                    </tr>
                                    {%  endfor %}

                                </table>


                                <!-- Pagging -->
                                <!-- End Pagging -->

                            </div>
                            <!-- Table -->

                        </div>
                        <!-- End Box -->

                        <!-- End Box -->
                    </div>
                    <!-- End Content -->

                    <!-- Sidebar -->
                    <div id="sidebar">

                        <!-- Box -->
                        <div class="box">

                            <!-- Box Head -->
                            <div class="box-head">
                                <h2>操作</h2>
                            </div>
                            <!-- End Box Head-->

                            <div class="box-content">
                                <a href="/dpms/addcharge" ><span>添加收费记录</span></a>
                                <div class="cl">&nbsp;</div>

                                <a href="/dpms/listcharge"> <span>所有收费记录</span></a>

                                <!-- Sort -->
                                <!-- End Sort -->

                            </div>
                        </div>
                        <!-- End Box -->
                    </div>
                    <!-- End Sidebar -->

                    <div class="cl">&nbsp;</div>
                </div>
                <!-- Main -->
            </div>
        </div>
        <!-- End Container -->

        <!-- Footer -->
        <br/><br/><br/>
        <div id="footer">
            <div class="shell">
                <span class="right">
                </span>
            </div>
        </div>
        <!-- End Footer -->

    </body>
</html>
