<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>首页</title>
        <link rel="stylesheet" href="/static/css/main_style.css" type="text/css" media="all" />
    </head>
    <body>
        <!-- Header -->
        <div id="header">
            <div class="shell">
                <!-- Logo + Top Nav -->
                <div id="top">
                    <h1><a href="#">SpringTime</a></h1>
                    <div id="top-navigation">
                        欢迎&nbsp;<a href="#"><strong>{{username}}</strong></a>
                        <span>|</span>
                        <a href="#">Help</a>
                        <span>|</span>
                        <a href="#">Profile Settings</a>
                        <span>|</span>
                        <a href="/dpms/logout">Log out</a>
                    </div>
                </div>
                <!-- End Logo + Top Nav -->

                <!-- Main Nav -->
                <div id="navigation">
                    <ul>
                        <li><a href="/dpms/index" class="active"><span>&nbsp;首页 &nbsp;</span></a></li>
                        <li><a href="/dpms/change_profile"><span>&nbsp;修改信息&nbsp;</span></a></li>
                        <li><a href="/dpms/addcomplaint"><span>&nbsp;投诉&nbsp;</span></a></li>
                        <li><a href="/dpms/addrepair"><span>&nbsp;报修&nbsp;</span></a></li>
                    </ul>
                </div>
                <!-- End Main Nav -->
            </div>
        </div>
        <!-- End Header -->
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>

        <!-- Container -->

        <div id="container">
            <div class="shell">

                <!-- Small Nav -->
                <div class="small-nav">
                    <a href="#">Dashboard</a>
                    <span>&gt;</span>
                    首页
                </div>
                <!-- End Small Nav -->

            </div>
        </div>
        <div id="container">
            <div class="shell">

                <!-- Main -->
                <div id="main">
                    <div class="cl">&nbsp;</div>

                    <!-- Content -->
                    <div id="content">

                        <!-- Box -->
                        <!-- Table -->

                    </div>
                    <!-- End Box -->

                    <!-- End Box -->
                </div>
                <!-- End Content -->

                <!-- Sidebar -->
                <div>
                </div>
                <div class="cl">&nbsp;</div>
            </div>
            <!-- Main -->
        </div>
    </div>
    <!-- End Container -->

    <!-- Footer -->
    <div id="footer">
        <div class="shell">
            <span class="right">
            </span>
        </div>
    </div>
    <!-- End Footer -->

</body>
</html>
