<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>5秒后跳转到{{next}}页面</title>

        <script type="text/javascript">
            var t = 5;
            function countDown(){
                var time = document.getElementById("time");
                t--;
                time.value=t;
                if (t<=0) {
                    location.href="/dpms/login/";
                    clearInterval(inter);
                };
            }
            var inter = setInterval("countDown()",1000);
            </script>

    </head>
    <body onload="countDown()">
        <p value="5" id="time"/>{{info}}</p>
    </body>
</html>
